{% extends 'base.html.twig' %}
{% block body %}

	{{ form_start(form) }}

	<fieldset>
		<legend>S'inscrire</legend>
		<div class="form-group">

			{{ form_row(form.username, {
         'label': 'Nom d\'utilisateur',
         'attr': {
           'placeholder':'Nom d\'utilisateur',
           'class':'form-control'
    }
    }) }}

			{{ form_row(form.email, {
        'label': 'Email','attr': {
          'placeholder':'Email',
          'class':'form-control'
    }}) }}

			{{ form_row(form.password, {
        'label': 'Mot de passe',
        'attr':{
          'placeholder':'Mot de passe',
          'class':'form-control'
    }}) }}

		</div>
		<button type="submit" class="btn btn-primary">Inscription</button>
	</fieldset>

	{{ form_end(form) }}

{% endblock %}
