{% extends 'blog/showPost.html.twig' %}

{% block formBlock %}

{% if currentUserIsAuthor %}
<a href="{{ path("updateArticle", {'id':article.id}) }}" class="btn btn-primary">
	Modifier l'article
</a>

<a href="{{ path("deleteArticle", {'id':article.id}) }}" class="btn btn-primary">
	Supprimer l'article
</a>
{% endif %}


{{ form_start(form) }}

<fieldset>
	<legend>Commenter</legend>

	{{ form_row(form.content, {
	'label': 'Commentaire',
	'attr':{
	'placeholder':'Commentaire'
	}}) }}

	<button class="btn btn-primary" type="submit">
		Commenter
	</button>
</fieldset>
{{ form_end(form) }}

{% endblock %}