{% extends 'base.html.twig' %}

{% block title %}Modifier article
{% endblock %}

{% block body %}
	{{ form_start(form) }}

	<fieldset>
		<legend>Modifier {{article.title}}</legend>

		{{
        form_row(form.title, {
            'label': 'Titre de l\'article'
        })
    }}

    {{
        form_row(form.capon, {
            'label': 'Chapon'
        })
    }}

    {{
        form_row(form.content, {
            'label': 'Contenu de l\'article'
        })
    }}

		{{
        form_row(form.authorId, {
            'label': 'Auteurs'
        })
    }}


		<button class="btn btn-primary" type="submit">
			Modifier
		</button>
	</fieldset>
	{{ form_end(form) }}

{% endblock %}
